@import url('https://fonts.googleapis.com/css?family=VT323');


.pixel-btn {
    position: relative; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    background: var(--pixel-color);
    border: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
    cursor: pointer;
}

.pixel-btn:hover {
    background: var(--pixel-color) var(--pixel-image);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: 480px;
    }
}
