.content {
    width: 100%;
    text-align: center;
}

.home-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}


.blob-6 {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: morph 8.75s linear infinite;
    content: "";
    background-size: cover;
    position: absolute;
    top: -40px;
    right: 1rem;
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    background: #416680;
    z-index: 0;
}

.blob-7 {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: morph 8.75s linear infinite;
    content: "";
    background-size: cover;
    overflow: hidden;
    position: absolute;
    bottom: 80px;
    left: -80px;
    background: #a39382;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-size: cover;

}

.blob {
    content: "";
    top: 10rem;
    right: 90rem;
    position: absolute;
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: morph 8.75s linear infinite;
    background-color: #5293d7;
    background-size: cover;
    background-position: center;
}

.blob-2 {
    content: "";
    top: 35rem;
    right: 10rem;
    position: absolute;
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-color: #ee7656;
    background-size: cover;
    background-position: center;
    animation: morph 8.75s linear infinite;
}

.blob-3 {
    content: "";
    top: 17rem;
    right: 20rem;
    position: absolute;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-color: #ffcc19;
    background-size: cover;
    background-position: center;
    animation: morph 8.75s linear infinite;
}

.blob-4 {
    content: "";
    top: 40rem;
    left: 24rem;
    position: absolute;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-color: #448c77;
    background-size: cover;
    background-position: center;
    animation: morph 8.75s linear infinite;
}

.blob-5 {
    content: "";
    top: 0.2rem;
    left: 50rem;
    position: absolute;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background-color: #7874b5;
    background-size: cover;
    background-position: center;
    animation: morph 8.75s linear infinite;
}



@keyframes morph {
    0% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }

}

.question-wrapper {
    display: flex;
    justify-content: center;
}

