.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: relative;
    height: 60px;
}

.header > * {
    position: relative;
    z-index: 1;
}

.header > span:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > span:last-child {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 0.2rem;
}

.logoCultureEnfance,
.logoLabo,
.logoPixelsPalettes {
    object-fit: contain;
    width: auto;
}

.logoCultureEnfance {
    height: 45px;
}

.logoLabo {
    height: 50px;
}

.logoPixelsPalettes {
    height: 10rem; 
    margin-top: 7rem; 
}
